In [18]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["YTH"]
mycol = mydb["channel_data"]
my_data =list(mycol.find())

In [19]:
import mysql.connector as sql
conn =sql.connect(user = 'root',password = 'Mani@2002',host = 'localhost',database ='youtube_data_harvesting')
cursor = conn.cursor()

In [23]:
channel_query = """INSERT INTO channels(channel_id,channel_name,channel_views,channel_description,channel_subscription_count) VALUES(%s,%s,%s,%s,%s)"""
for i in my_data:
    for j in i['channel_details']:
        values =(j['Channel_Id'],
                 j['Channel_Name'],
                 int(j['Channel_Views']),
                 j['Channel_Description'],
                 int(j['Subscription_Count']))
        cursor.execute(channel_query,values)

In [27]:
playlist_query = """insert into playlist(playlist_id,channel_id,playlist_name)values(%s,%s,%s);"""
for i in my_data:
    for j in i['channel_playlists']:
        values =(j['playlist_id'],
                 j['channel_id'],
                 j['playlist_name'])
        cursor.execute(playlist_query,values)

In [28]:
video_query = """insert into videos(video_id,channel_id,video_name,video_description,
                    published_date,view_count,like_count,favorite_count,
                    comment_count,video_duration,thumbnail,caption_satatus) 
                    values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);"""
for i in my_data:
    for j in i['video_details']:
        values =(j['video_id'],
                 j['channel_id'],
                 j['video_name'],
                 j['video_description'],
                 j['publishedat'],
                 int(j['view_count']),
                 int(j['like_count']),
                 int(j['favorite_count']),
                 int(j['comment_count']),
                 j['video_duration'],
                 j['thumbnail'],
                 j['caption'])
        cursor.execute(video_query,values)

DataError: 1406 (22001): Data too long for column 'video_description' at row 1

In [93]:
from datetime import datetime
comment_query = """"""
for i in my_data:
    for j in i['comment_details']:
        values =(j['comment_id'],
                 j['video_id'],
                 j['comment_text'],
                 j['comment_author'],
                 datetime.strptime(j['comment_publishedat'],"%Y-%m-%dT%H:%M:%SZ"))
        cursor.execute(comment_query,values)

22374
('UgwpolSzZeouW11Q8iZ4AaABAg', 'qnozeCkyzzw', 'So much water has been wasted for cleaning chicken ðŸ˜¡', 'Guruprasad ', datetime.datetime(2023, 9, 22, 8, 19, 51))

In [9]:
data

NameError: name 'data' is not defined

In [7]:
import mysql.connector as sql
conn = sql.connect(user = "root",password = "Mani@2002", host = "localhost")

In [8]:
if conn:
    print("connection is success")
else:
    print("connection is failed")

connection is success